.type-list {
  display: block;
  padding: 40px;
  width: 960px;
  margin: auto;
  border-radius: 20px;
}

.type-list li {
  list-style-type: none;
  text-align: center;
}

.type-list h2 {
  text-align: center;
  margin-bottom: 20px;
}
