.pokemon-detail {
  text-align: center;
  padding: 40px;
  width: 960px;
  margin: auto;
  border-radius: 20px;
  position: relative;
}

.pokemon-detail img:first-of-type {
  padding: 20px;
  width: 20%;
}
